* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}
html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background: linear-gradient(to left, #fff, #939393);
  font-family: "Inconsolata", monospace;
}

.footer_container {
  display: flex;
  justify-content: center;
  height: 100px;
  background: #838282;
  align-items: center;
  box-shadow: 0 0 0 10px #838282, 0 0 0 11px #838282, 0 20px 20px -12px #000;
}
.navFooter {
  display: block;
  position: relative;
}

.navFooter_ul {
  display: flex;
  justify-content: center;
}

.navFooter_sub_ul {
  width: 100%;

  display: flex;
  justify-content: center;
}

.navFooter_sub_li {
  padding: 5px 10px 10px;
  color: #000;
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

/*==Hoover nav_sub_li==*/
.navFooter_sub_li:hover {
  border-left: solid #000;
  color: #12ea9b;
}

.navFooter_a {
  text-decoration: none;
}

/*=====INDEX=========*/
.main_container_index {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  text-align: center;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #838282;
  /* background: linear-gradient(to left, #fff, #939393); */
  color: #000;
  box-shadow: 0 0 0 10px #838282, 0 0 0 11px #838282, 0 20px 20px -12px #000;
}
.logotype {
  text-decoration: none;
}
.animeText,
.subtittle {
  font-weight: bold;
  line-height: 30px;
  color: #000;
}

.animeText:hover,
.subtittle:hover {
  color: #12ea9b;
}
